    .inputPost{
    //   background: red;
      width: 100%;
      height: 100%;
      color: #7fb49d;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #7fb49d ;
      }