.App{
  .App-header{
    background:#f4f4f4;
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
  }
  .App-body{
    background:#f4f4f4;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100vw;
  }
}